functions-framework
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform[adk,agent_engines]==1.90.0
google-cloud-secret-manager
vertexai
google-adk
firebase-admin
Flask
